<h1> Your friends are... </h1>

<section class="col-md-4">
  <% @followed_people.each do |following| %>
    <ul>
      <p>
        <article class="well well-sm">
           <strong><%= following.full_name %></strong>
           <p>
             <%= following.status.try(:text) %>
           </p>
         </article>
       </p>
    </ul>
    <% end %>
</section>
