<div class="jumbotron">
  <h1> What are you up to later? </h1>
  <h5>
    <font color = grey>
      (your status will expire every 2 hours...)
    </font>
  </h5>
    <p></p>
    <br></br>
    <p>
      <div class="row">
        <div class="col-md-6">
          <%= form_for @status, class: 'form-inline' do |form| %>
            <div class='form-group'>
              <%= form.label "I_am:" %>
              <%= form.text_field :text, class: 'form-control' %>
            </div>

            <%= form.submit "Update Status", class: 'btn-primary' %>
          <% end %>
          </div>
        </div>
      </div>
    </p>
