<div class="jumbotron">
<h2> What are you up to tonight? </h2>
  <p>
    <div class="row">
      <div class="col-md-4">
        <%= form_for @status, class: 'form-inline' do |form| %>
          <div class='form-group'>
            <%= form.label "I_am:" %>
            <%= form.text_field :text, class: 'form-control' %>
          </div>

          <%= form.submit "Update Status", class: 'btn-primary' %>
        <% end %>
        </div>
      </div>
    </div>
  </p>
